//Header Buttons
.btn1{
    display: inline-block;
    text-decoration: none;
    color: $white;
    background-color: $camal;
    padding: 10px 30px;
    border-radius: 200px;
    font-weight: 300;
    margin-right: 15px;
    transition: all .2s ease;
    margin-top: 30px;
}
.btn1:hover{
    background: #e97611;
}
.btn2{
    text-decoration: none;
    color: $camal;
    background-color: $camal;
    padding: 10px 30px;
    border-radius: 200px;
    font-weight: 300;
    background: transparent;
    border: 1px solid $camal;
    transition: all .2s ease;
}
.btn2:hover{
    background: $camal;
    color: $white;
}