.city-heading{
    width: 100%;
    text-align: center;

    &__heading{
        font-size: 2rem;
        font-weight: 300;
        color: $grey;
        text-transform: uppercase;
        letter-spacing: 2px;
        word-spacing: 1px;

        &::after{
            content: "";
            width: 100px;
            height: 2px;
            background-color: $camal;
            display: block;
            margin: 13px auto;
        }
    }
}
.cities{

    &__pic{
        width: 200px;
        margin-top: 2.3rem;
        transform: scale(1);
        opacity: 1;
        transition: all 2s ease;

        &:hover{
            transform: scale(1.1);
            opacity: 1;
        }
    }
    &__name{
        font-size: 1.4rem;
        color: $grey;
        font-weight: 300;
        text-transform: uppercase;
        padding-top: 10px;
    }
    &__features{
        padding: 15px 0 0 10px;
        color: $grey;
        font-weight: 300;
    }
    &__icon{
        color: $camal;
        margin-right: 10px;
    }
    &__link{
        color: $camal;
        text-decoration: none;
        border-bottom: 1px solid $camal;
        padding-bottom: 5px;
    }
}
