.features{
    width: 100%;
    background-color: $white;
    padding: 2rem 0 6rem 0;
}
.meal-gallery{
    width: 100%;
    // margin: 0 auto;
}

.steps{
    width: 100%;
    padding: 2rem 0 8rem 0;
    background-color: rgb(236, 226, 226);
}

.cities{
    width: 100%;
    padding: 2rem 0 6rem 0;
    background-color: $white;
}
.plans{
    width: 100%;
    padding: 2rem 0 6rem 0;
    background-color: #f4f4f4;
}
.map{
    width: 100%;
    height: 470px;
    position: relative;
}